.footer {
	width: 100%;
	padding: 2rem 8rem 2rem 8rem;
}

.footer-content  {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 1rem;
  position: relative;
}
.footer-admin-btn{
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: -1.5rem;
  left: 0;
}

.footer-socials, .footer-copy{
  width: 100%;
  display: flex;
  justify-content: center;
}

 .footer-copy p{
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--darkie)
 }


 @media only screen and (max-width: 30em){
   .footer {
	width: 100%;
	padding: 2rem 5rem 2rem 5rem;
  
}
 }