.navigation {
}

.navigation-nav {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: -10rem;
	z-index: 1500;

	opacity: 0;
	width: 0;

	transition: all 0.8s cubic-bezier(0, 0.29, 0.68, 1.08);
}

.navigation-bg {
	height: 100vh;
	width: 4rem;
	position: fixed;
	top: 0;
	right: -4rem;
	background: var(--blue-2);
	z-index: 1000;

	transition: transform 0.8s cubic-bezier(0.2, 1.03, 0.75, 0.88);

}

.navigation-list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
}

.navigation-checkbox {
	display: none;
}

.navigation-btn {
	height: 5rem;
	width: 5rem;
	position: fixed;
	top: 4rem;
	right: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--light-color);
	z-index: 2000;
	cursor: pointer;

box-shadow: 2px 0px 15px 1px rgba(225,238,238,0.76);
-webkit-box-shadow: 2px 0px 15px 1px rgba(225,238,238,0.76);
-moz-box-shadow: 2px 0px 15px 1px rgba(225,238,238,0.76);
border-radius: 50%;
}

.navigation-link {
	font-size: 3rem;
	font-weight: 300;
	color: var(--light-color);
	text-decoration: none;
	text-transform: uppercase;

	background-image: linear-gradient(
		120deg,
		transparent 50%,
		var(--light-color) 50%
	);
	background-size: 230%;
	transition: all 0.4s ease-in;
	color: var(--dark-color);
	display: inline-block;
	padding: 0 1.5rem;
}

.navigation-link:hover,
.navigation-link:active,
.navigation-link.active
 {
	background-position: 100%;
	color: var(--dark-color);
}

.navigation-item {
	padding: 1rem 1.5rem;
	cursor: pointer;
}


.navigation-icon,
.navigation-icon::before,
.navigation-icon::after{
	width: 3rem;
	height: 3px;
	background: var(--dark-color);
	display: inline-block;
	border-radius: 5px;
}

.navigation-icon::before,
.navigation-icon::after{
	content: '';
	position: absolute;
	left: 0;
	transition: all .3s;
}

.navigation-icon {
	position: relative;
}

.navigation-icon::before {
	top: -.9rem;
}

.navigation-icon::after {
	top: .9rem;
}

.navigation-checkbox:checked ~ .navigation-bg {
	transform: scale(80);
	right: 0;
}

.navigation-checkbox:checked ~ .navigation-nav {
	opacity: 1;
	width: 100%;
	right: 0;
}

.navigation-btn:hover .navigation-icon::before{
	top: -1rem;
}

.navigation-btn:hover .navigation-icon::after{
	top: 1rem;
}

.navigation-checkbox:checked + .navigation-btn .navigation-icon{
	background: transparent;
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon::before{
	top:0;
	transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon::after{
	top: 0;
	transform: rotate(-135deg);
}

@media only screen and (max-width: 48em) {
	.navigation-checkbox:checked ~ .navigation-bg {
		transform: scale(50);
		right: 0;
	}

	.navigation-link {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 30em) {
	.navigation-checkbox:checked ~ .navigation-bg {
		transform: scale(30);
		right: 0;
	}

	.navigation-btn {
		right: 1.8rem;
	}

	.navigation-btn {
	height: 4.5rem;
	width: 4.5rem;
	top: 3rem;
}


.navigation-icon,
.navigation-icon::before,
.navigation-icon::after{
	width: 2.5rem;}

}
