.alert{
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 30rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--white-color);
  z-index: 500;
  border-radius: 3px;
}

.alert.success{
  background: var(--success);
}
.alert.error{
  background: var(--danger);
}