.primary-heading{
  font-size: 4rem;
  font-weight: 600;
  text-transform: capitalize;
}

.primary-heading .main{
  color: var(--darkie);
}
.primary-heading .sub{
  color: var(--blue-2);
}

@media only screen and (max-width: 48em) {
  .primary-heading{
  font-size: 2.5rem;
}
}